@font-face {
  font-family: 'usuazi_hosomozi';
  src: url(./Font/usuazi_hosomozi.woff2) format('woff2'),
    url(./Font/usuazi_hosomozi.woff) format('woff');
}

html,
body,
button,
input,
a,
h1,
h2,
h3,
h4,
h5,
h6,
span,
div {
  margin: 0;
  font-family: usuazi_hosomozi;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
